body {
    display: flex;
    flex-direction: column;
    background-color: #e5f0d5;
    margin: 0;
    min-height: 95vh;
    margin-bottom: 5vh;
  }
  
  header {
    flex: 5vh 0;
    display: flex;
    flex-direction: row;
    background-color: #85a0d5;
    justify-items: flex-start;
    margin: 0;
    vertical-align: text-bottom;
  }

  main {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  footer {
    flex: 0 5vh;
    justify-items: baseline;
    padding: 2vh;
  }

  h1, h2 {
    color: #95a0d5;
    font-family: 'League Spartan';
  }

  #title, #title:link, #title:visited{
    font-family: 'League Spartan';
    color: #f5f0d5;
    text-decoration: none;
    font-size: 8vh;
  }

  p {
    color: #85a0d5;
    font-family: 'Sanchez';
  }

  a, a:link, a:visited {
    list-style: none;
    font-family: 'Sanchez';
    color: #f5f0d5;
    text-decoration: none;
    padding: 2vh;
  }

  .regLink, .regLink:link, .regLink:visited{
    color: #85a0d5;
    text-decoration: underline;
    padding: 0.5vh;
  }

  #github {
    height: 2vh;
    width: auto;
  }
  

  